{% block body %}

              <div class="col-md-3 col-sm-6">
                <div class="panel panel-default book-preview">
                  <ul>
                    <li><img src="../images/logo.png" alt="" /></li>
                    <li>Tytuł: {{book.title}}</li>
                    <li>Autor: {{book.author}}</li>
                    <li>Cena: {{book.price}}</li>
                  </ul>
                  <a href="/add-to-cart?id={{book.id}}"><i class="fa fa-shopping-cart"></i> Dodaj do koszyka</a><br>
                  <a href="/books/{{book.id}}"><i class="fa fa-info-circle"></i> Szczegoly</a>
                </div>

              </div>


{% endblock %}
