{% block body %}
<div class="book-slider">
  <div class="col-md-3 col-sm-4 col-xs-6">
    <div class="panel panel-default">     
        <div class="book-cover-box">
          <a href="/books/{{book.id}}">
          <div class="overlay">Szczegóły</div>
          <img src="../uploads/covers/{{book.id}}.jpg" class="img-responsive" alt="" />
          </a>
        </div>   
      <div class="book-info-box">
        <ul class="small-space">
          <li class="text-bold font-serif font-size-5">{{book.title}}</li>
          <li class="font-serif font-size-5">{{book.author}}</li>
          <li class="font-serif font-size-6">{{book.category}}</li>
        </ul>
      </div>
      <div class="book-submit-box">
        <a href="/add-to-cart?id={{book.id}}" id="add-book-button" type="submit" class="button">
          <i class="fa fa-shopping-cart small-space2"></i>
          {% if book.isDiscount == true %}
            Cena: <span class="old-price">{{book.discountPrice}}</span> {{book.price}} zł
          {% else %}
            Cena: {{book.price}} zł
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
