{% extends 'base.html.twig' %}

{% block body %}

{% include 'default/header.html.twig' %}

  <div id="main">
    <div class="container">
    	<div class="row">
        {% include 'default/sidebar.html.twig' %}
        <div class="col-md-9">
    			<div class="panel panel-default">
            <hr class="style14">
            <h2 class="headline-font text-center">Zawartość koszyka - aktualnie przedmiotów w koszyku: {{cart|length}}</h2>
            <hr class="style14">
            <table class="cart-table">
            {% for book in cart %}
              <tr>
                <td>
                  <img src="../uploads/covers/{{book.id}}.jpg" class="book-logo" alt="" />
                </td>
                <td>
                  <h4>Tytuł: {{book.title}}</h4>
                  <h5>Autor: {{book.author}}</h5>
                  <a href="/remove-from-cart?id={{book.id}}"><i class="fa fa-trash"></i> Usuń z koszyka</a>
                </td>
                <td>
                  <h4><strong>Cena: {{book.price}} zł</strong></h4>
                </td>
              </tr>
            {% endfor %}
            </table>
            <div class="submit-order-box">
              <div class="submit-font">Łączna cena do zapłąty za {{cart|length}} przedmitów:
                <strong>
                  {% set price = 0 %}
                  {% for book in cart %}
                    {% set price = price + book.price %}
                  {% endfor %}
                  {{ price }} zł
                </strong>
              </div>
              <a href="/dashboard" class="btn btn-default"><i class="fa fa-home"></i> Kontynuuj zakupy</a>
              <a href="/order" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Zamów bez konta</a>
              <a href="/login" class="btn btn-default"><i class="fa fa-sign-in"></i></i> Zaloguj się</a>
              <a href="/registration" class="btn btn-default"><i class="fa fa-plus-circle"></i></i> Załóż konto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'default/footer.html.twig' %}

{% endblock %}
