{% extends 'base.html.twig' %}

{% block body %}

{% include 'default/header.html.twig' %}

    <div id="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="panel panel-default">
              <h2>Sprawdz poprawność danych:</h2>
              <div class="row">
                <div class="col-md-4">
                  <h3>Zamawiane produkty:</h3>
                  {% for books in cart %}

                      {% for b in books %}
                      <ul>
                        <li>Tytuł: {{b.title}}</li>
                        <li>Autor: {{b.author}}</li>
                        <li>Cena: {{b.price}}</li>
                      </ul>
                      {% endfor %}
                  
                  {% endfor %}
                </div>
                <div class="col-md-4">
                  <h3>Dane kontaktowe:</h3>
                  <ul>
                    <li>{{name}}</li>
                    <li>{{surname}}</li>
                    <li>{{email}}</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h3>Adres dostawy: </h3>
                  <ul>
                    <li>Ulica i nr mieszkania: {{address}} </li>
                    <li>Miasto: {{city}} </li>
                    <li>Kod pocztowy: {{postalCode}} </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 left">
                  <a href="/order" class="btn btn-default"><i class="fa fa-arrow-left"></i> Powrot</a><br>
                </div>
                <div class="col-md-6 right">
                  <a href="/order/final" class="btn btn-default"><i class="fa fa-check"></i> Zloz zamowienie</a>
                </div>
              </div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

{% endblock %}
